html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.fill {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #cfd0bd, #f1f0f3ea);
    display: inline-flex;
}

.message {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f1f0f3ea;
    box-shadow: 0 6px 26px rgba(31, 26, 31, 0.25);
    width: 100%;
    height: 95%;
    display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: fill-available;
  height: 10%;
  border-radius: 15px;
  background-color: #ddd1f3ea;
}

.sections_you {
  padding: 40px;
  color: white;
}

.col:hover {
  color: #acd3d6ea;
  cursor: pointer;
}

.content_you {
  padding: 40px;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border-radius: 15px;
  border-width: 1px;
}

.start:hover {
  background-color: #ddd1f3ea;
  box-shadow: 0 6px 26px rgba(31, 26, 31, 0.25);
}
